@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

:root{
  --text-color-1:#fff;
  --text-color-2:rgb(96, 43, 221);
  --border-color-1:#41414157;
  --border-color-2:#7a7a7a;
  --bg-color-1:rgb(138, 105, 168);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy-Medium', sans-serif;
}

body{
  position: relative;
}

.loading {
  color: rgb(0, 162, 255);
  font-size: 1.3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}